a{
    text-decoration: none;
    color: var(--secondary-color);
}
.navbar{
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
}
#navbarLogo{
    color: var(--white-color);
}
.navbar span{
    display: flex;
    padding: .5rem;
    align-items: center;
    gap: 1rem;
}
.navbarLogo{
    background-color: var(--dark-accent-color);
    width: 50%;
}
.navbarLinks{
    font-weight: bold;
    color: var(--secondary-color);
}
.navbarLinks:nth-child(1){
    color: var(--dark-accent-color);
}
.darkAccent{
    color: var(--dark-accent-color);
}
@media screen and (min-width:650px){
    .navbarLogo{
        width: 35%;
    } 
}